
<!-- section footer start -->
<footer id="section-footer" *ngIf="!getFooterStatus()">
  <div class="container-fluid">
    <div class="clearfix footer-top">
      <div class="col-md-8">
        <h5>All one cowork office locations</h5>

        <div class="col-sm-4 paddNone">
          <ul>
            <li>
              <a routerLink="plan">Plans & Pricing</a>
            </li>
            <li>
              <a routerLink="about">Mission</a>
            </li>
            <li>
              <a routerLink="enterprise">Enterprise</a>
            </li>
            <li>
              <a routerLink="event">Event</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 paddNone">
          <ul>
            <li>
              <a routerLink="faq">FAQ</a>
            </li>
            <li>
              <a routerLink="career">Careers</a>
            </li>
            <li>
              <a routerLink="press">Press</a>
            </li>
            <li>
              <a routerLink="blog">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 paddNone">
          <ul>
            <li>Broker partnership</li>
            <li>Referal program</li>
            <li>Creator Magazine</li>
            <li>Visit Cowork.com</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Sign up for offers, updates and more</h5>



        <div class="form-group email_send">

          <div class="input-group">
            <input type="text" value="" class="form-control" name="text">
            <div class="input-group-btn bs-dropdown-to-select-group">
              <button type="button" class="btn btn-default ">
                <span data-bind="bs-drp-sel-label">Submit</span>

              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</footer>
<section class="footer-btm" *ngIf="!getFooterStatus()">
  <div class="container-fluid">
    <div class="clearfix">
      <div class="col-md-8 paddNone">
        <p>&copy; 2017, All rights reserved by onecowork.
          <small>Developed by
            <a href="http://wishadesign.com/" target="_blank">WAD</a>
          </small>
        </p>
        <a routerLink="privacy">Privacy</a>
        <a routerLink="terms">Terms</a>
      </div>
      <div class="col-md-4 paddNone">
        <a href="#">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <!-- row end -->
  </div>

</section>