<!-- <p>
  profile works!
</p> -->

<!-- End Navbar -->

  <div class="row">
    <div class="col-md-3">
      <div class="card card-user user-card">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body user-card-body">
          <div class="user-card-body-inner">
            <h4 class="no-mar-bottom no-mar-top">
              <b>Kyaan Chopra</b>
            </h4>
          </div>
          <p class="description">
            Chief Executive Officer
          </p>
          <div class="control-btn">
            <button class="btn btn-round no-mar-bottom no-mar-top follow-btn">Follow</button>
            <button class="btn btn-round btn-default no-mar-bottom no-mar-top">Connect
              <i class="caret"></i>
            </button>
          </div>
          <div>
            <div class="pad-5-tb social-link">
              <a href="#">
                <i class="fas fa-globe"></i> example.com</a>
            </div>
            <div class="pad-5-tb social-link">
              <a href="#">
                <i class="fab fa-facebook-square"></i> facebook.com/example</a>
            </div>
            <div class="pad-5-tb social-link">
              <a href="#">
                <i class="fab fa-twitter"></i> twiter.com/example</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-user">
        <div class="card-body">
          <div class="pad-5-tb profile-stats">
            <a href="#">
              <i class="fas fa-home"></i> My Profile</a>
            <span class="float-right post-count">14</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card stats-card">
        <div class="card-body no-pad post-stats">
          <span class="float-right text-center">
            <h6>2k</h6>
            <p class="mar-b-0">Followers</p>
          </span>
          <img class="float-right" src="../assets/img/line.png">
          <span class="float-right text-center">
            <h6>320</h6>
            <p class="mar-b-0">Following</p>
          </span>
          <img class="float-right" src="../assets/img/line.png">
          <span class="float-right text-center">
            <h6>190</h6>
            <p class="mar-b-0">Activity</p>
          </span>
          <img class="float-right" src="../assets/img/line.png">

        </div>
      </div>

      <div class="card">
        <div class="card-body no-pad">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group no-mar-bottom">
                  <textarea rows="8" cols="90" class="form-control post-txt-area" placeholder="Whats new?" value="Mike"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="float-left post-image-icon">
                  <a href="#">
                    <i class="now-ui-icons design_image"></i>
                  </a>
                </div>
                <div class="float-right post-button">
                  <button type="submit" class="btn btn-round publish-btn">Publish</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body no-pad">
          <div class="row">
            <div class="col-md-12">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs posts-header-nav-pill" role="tablist">
                <li role="presentation" class="active">
                  <a href="#stream" aria-controls="home" role="tab" data-toggle="tab">Stream</a>
                </li>
                <!-- <li role="presentation"><a href="#photos" aria-controls="profile" role="tab" data-toggle="tab">Photos</a></li>
                      <li role="presentation"><a href="#friends" aria-controls="messages" role="tab" data-toggle="tab">Friends</a></li> -->
              </ul>
            </div>
            <div class="col-md-12 post-panel">
              <!-- Tab panes -->
              <div class="tab-content post-panel-inner">
                <div role="tabpanel" class="tab-pane active" id="stream">
                  <div class="row post-panel-box">
                    <div class="col-xs-3 col-md-2 post-panel-img">
                      <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
                    </div>
                    <div class="col-xs-9 col-md-10 post-panel-right">
                      <p>Priyanka</p>
                      <div class="last-active-time">Active 14 min ago</div>
                      <div class="description">Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby
                        sweater eu banh mi, qui.</div>
                      <div class="like-comment-btn">
                        <a href="#">
                          <i class="far fa-heart"></i>
                          <span class="badge like-badge">5</span>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#comment-modal">
                          <i class="far fa-comment-alt"></i>
                          <span class="badge comment-badge">5</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row post-panel-box">
                    <div class="col-xs-3 col-md-2 post-panel-img">
                      <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
                    </div>
                    <div class="col-xs-9 col-md-10 post-panel-right">
                      <p>Priyanka</p>
                      <div class="last-active-time">Active 14 min ago</div>
                      <div class="description">Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby
                        sweater eu banh mi, qui.</div>
                      <div class="like-comment-btn">
                        <a href="#">
                          <i class="far fa-heart"></i>
                          <span class="badge like-badge">5</span>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#comment-modal">
                          <i class="far fa-comment-alt"></i>
                          <span class="badge comment-badge">5</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row post-panel-box">
                    <div class="col-xs-3 col-md-2 post-panel-img">
                      <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
                    </div>
                    <div class="col-xs-9 col-md-10 post-panel-right">
                      <p>Priyanka</p>
                      <div class="last-active-time">Active 14 min ago</div>
                      <div class="description">Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Mustache cliche tempor,
                        williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby
                        sweater eu banh mi, qui.</div>
                      <div class="like-comment-btn">
                        <a href="#">
                          <i class="far fa-heart"></i>
                          <span class="badge like-badge">5</span>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#comment-modal">
                          <i class="far fa-comment-alt"></i>
                          <span class="badge comment-badge">5</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane " id="photos">
                  Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Mustache cliche tempor, williamsburg carles vegan
                  helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure
                  terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                  apparel, butcher voluptate nisi qui.
                </div>
                <div role="tabpanel" class="tab-pane " id="friends">
                  butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui Seitan aliquip quis cardigan american apparel, butcher
                  voluptate nisi qui. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel,
                  butcher voluptate nisi qui. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                  apparel, butcher voluptate nisi qui.
                </div>
                <div class="modal" id="comment-modal" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content ">
                      <div class="modal-header text-center">
                        <h6 class="modal-title">Comments</h6>
                        <button type="button" class="close comment-close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="no-comment-exist text-center">
                          <p>No comments yet! Be the first one to comment.</p>
                        </div>
                        <div class="comment-exist">
                          <div class="row">
                            <div class="col-md-9">
                              <h6 class="mar-b-0 comment-name">Priyanka</h6>
                              <p class="mar-b-0 comment-time">June 1 2018, 1:49:40 PM</p>
                              <p class="mar-b-0 comment-para">Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american </p>
                            </div>
                            <div class="col-md-3">
                              <div class="dropdown">
                                <a href="#" class="comment-option-btn dropdown-toggle" data-toggle="dropdown">
                                  Option
                                </a>
                                <ul class="dropdown-menu">
                                  <li class="dropdown-item">
                                    <a href="#">Edit</a>
                                  </li>
                                  <li class="dropdown-item">
                                    <a href="#">Delete</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="comment-exist">
                          <div class="row">
                            <div class="col-md-9">
                              <h6 class="mar-b-0 comment-name">Priyanka</h6>
                              <p class="mar-b-0 comment-time">June 1 2018, 1:49:40 PM</p>
                              <p class="mar-b-0 comment-para">Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american </p>
                            </div>
                            <div class="col-md-3">
                              <div class="dropdown">
                                <a href="#" class="comment-option-btn dropdown-toggle" data-toggle="dropdown">
                                  Option
                                </a>
                                <ul class="dropdown-menu">
                                  <li class="dropdown-item">
                                    <a href="#">Edit</a>
                                  </li>
                                  <li class="dropdown-item">
                                    <a href="#">Delete</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer comment-modal-footer">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Add Comment">
                            </div>
                          </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-round float-right">Add Comment</button>
                        <button type="button" class="btn btn-secondary btn-round float-right modal-cancel-btn" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
