<div class="container-page">
  <section class="banner-header about-banner">

    <div class="container">
      <div class="clearfix maxwidth850">
        <div class="sqr_box">
          <h2>one mission:</h2>
          <h1>TO CREATE A WORLD WHERE PEOPLE WORK TO MAKE A LIFE.</h1>
          <h4> NOT JUST A LIVING </h4>
        </div>
      </div>
    </div>
  </section>
  <section class="ourstory">
    <div class="container text-center">
      <div class="clearfix">
        <div class="col-md-12 ">
          <div class="container-box">
            <div class="heading-center">
              <h1>OUR STORY</h1>
              <hr>

            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <p>When we started WeWork in 2010, we wanted to build more than beautiful, shared office spaces. We wanted to build
          a community. A place you join as an individual, 'me', but where you become part of a greater 'we'. A place where
          we’re redefining success measured by personal fulfillment, not just the bottom line. Community is our catalyst.</p>
      </div>
    </div>
  </section>
  <section class="addBanner2 about-e1">

    <div class="content">
      <h3>oneco.work CAMP</h3>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </section>
  <section class="">
    <div class="clearfix">
      <div class="col-md-6 paddNone addBanner2 about-e2">

      </div>
      <div class="col-md-6 paddNone addBanner2 about-e3"></div>
    </div>
  </section>
  <!--  section services start -->
  <section id="section-services">
    <div class="container">
      <div class="clearfix">
        <div class="col-md-12 text-center">
          <div class="container-box">
            <div class="heading-center">
              <h1>OUR VALUES</h1>
              <hr>

            </div>
          </div>
        </div>
      </div> <!-- row heading-center end -->
      <div class="row">
        <div class="col-md-4 col-sm-6 wow fadeInUp">
          <div class="service-box">
            <i>1</i>
            <div class="service-inner">
              <h5>INSPIRED</h5>
              <p>We start each day with a spirit of creating something new. Inspiration keeps us going through it. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp " data-wow-delay=".3s">
          <div class="service-box">
            <i>2</i>
            <div class="service-inner">
              <h5>ENTREPRENEURIAL</h5>
              <p>We are self learners. Nobody taught us the skills that we inculcate, it is our passion towards the work that helped us spread wings nationwide.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".6s">
          <div class="service-box">
            <i>3</i>
            <div class="service-inner">
              <h5>AUTHENTIC</h5>
              <p>We speak our heart out. We are in a time where authenticity has become the golden rule of leadership. We accept our flaws, our mistakes, our glitches but we never stop. Our mission is to examine them and keep working on them everyday to strive for something better.</p>
            </div>
          </div>
        </div>
        <!-- </div>
            <div class="row"> -->
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".9s">
          <div class="service-box">
            <i>4</i>
            <div class="service-inner">
              <h5>TENACIOUS</h5>
              <p>Giving up is not in our dictionary. No matter how many milestones it takes, we make sure the work is done with complete productivity. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="1.1s">
          <div class="service-box">
            <i>5</i>
            <div class="service-inner">
              <h5>GRATEFUL</h5>
              <p>We notice every tiny miracle and make sure to thank god for it.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="1.4s">
          <div class="service-box">
            <i>6</i>
            <div class="service-inner">
              <h5>TOGETHER</h5>
              <p>We believe in moving together. No matter where we go, we are always together. </p>
            </div>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>
    <!--  container end -->
  </section>
  <!--  section services end -->
  <section class="ourstory bg-col2">
    <div class="container text-center">
      <div class="clearfix">
        <div class="col-md-12 ">
          <div class="container-box">
            <div class="heading-center">
              <h1>OUR TEAM</h1>
              <hr>

            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <p>When we started WeWork in 2010, we wanted to build more than beautiful, shared office spaces. We wanted to build
          a community. A place you join as an individual, 'me', but where you become part of a greater 'we'. A place where
          we’re redefining success measured by personal fulfillment, not just the bottom line. Community is our catalyst.</p>
        <a routerLink="/" class="btn btn-primary">Join the team</a>
        <img src="../../assets/images/about/team.jpg" alt="">
      </div>
    </div>
  </section>
</div>


<div class="clearfix"></div>