<div class="container-page">
	<section class="plan ">
		<div class="container-fluid">
			<div class="heading">
				<h2>PLANS & PRICING IN INDIA</h2>
				<hr>
				<div class="clearfix"></div>
				<p>Focus on your life's work. We'll take care of the rest.</p>
			</div>
			<div class="clearfix">
				<div class="col-sm-3 paddNone4">
					<div class="box-size">
						<div class="box-image" style="    background-size: cover;
    background-image: url('../../assets/images/plans/virtual-office.jpg');">
							<!-- <img src="images/usa-plan-1-we-update.jpg" alt=""> -->
						</div>
						<div class="data">
							<h2>one membership</h2>
							<p>Starting from <i class="fa fa-inr"></i>45/MONTH*</p>
							<a routerLink="detail" class="btn btn-primary">Learn more</a>
							<!-- <p>
								<small>*Available for purchase in <i class="fa fa-inr"></i> soon</small>
							</p> -->
						</div>
						<div class="data-normal first-para">
							<p>Want to spread your business with mail, phone and reception services at one or many One Co.Work Spaces? Our virtual address services are available across 5 top most cities in India because business should have no limitations when it comes to accessibility.</p>
						</div>
						<div class="data-normal sec-para">
							<h5>Workspace</h5>
							<p>2 credits per month that can be used to book conference rooms or a day of workspace, with the option to purchase more.</p>
						</div>
						<div class="data-normal">
							<h5>Physical Space/Access</h5>
							<p>Any location, <i class="fa fa-inr"></i>50/day</p>
						</div>
						<div class="data-normal">
							<h5>Daily Rates for Other Locations</h5>
							<p>Any location, <i class="fa fa-inr"></i>50/day or 2 credits (shared desk)</p>
						</div>
						<div class="data-normal">
							<h5>Credits</h5>
							<p>2 per month</p>
						</div>
						<div class="data-normal">
							<h5>Printing</h5>
							<p>Not available</p>
						</div>
						<div class="data-normal">

							<a routerLink="detail">And more..</a>
						</div>
					</div>
				</div>
				<div class="col-sm-3 paddNone4">
					<div class="box-size">
						<div class="box-image" style="    background-size: cover;
    background-image: url('../../assets/images/plans/hot-desk.jpg');">
							<!-- <img src="images/hotdesksmall.jpg" alt=""> -->
						</div>
						<div class="data">
							<h2>HOT DESK</h2>
							<!-- <p>Unavailable</p> -->
							<a routerLink="detail" class="btn btn-primary">Learn more</a>

						</div>
						<div class="data-normal first-para">
							<p>Any available desk in a common area at a single Hot Desk location. Just bring your laptop, pick an open seat, and
								get to work. Price varies by location.</p>
						</div>
						<div class="data-normal sec-para">
							<h5>Workspace</h5>
							<p>Space to work in an open common area. Each day this space is first come, first served.</p>
						</div>
						<div class="data-normal">
							<h5>Physical Space/Access</h5>
							<p>1 location, 24/7 access </p>
						</div>
						<div class="data-normal">
							<h5>Daily Rates for Other Locations</h5>
							<p>Another location, <i class="fa fa-inr"></i>25/day (shared desk)</p>
						</div>
						<div class="data-normal">
							<h5>Credits</h5>
							<p>2 per month</p>
						</div>
						<div class="data-normal">
							<h5>Printing</h5>
							<p>Not available</p>
						</div>
						<div class="data-normal">

							<a routerLink="detail">And more..</a>
						</div>
					</div>
				</div>
				<div class="col-sm-3 paddNone4">
					<div class="box-size">
						<div class="box-image" style="background-size: cover;
    background-image: url('../../assets/images/plans/dedicated-seat.jpg');">
							<!-- 	<img src="images/usa-plan-3-dd.jpg" alt=""> -->
						</div>
						<div class="data">
							<h2>DEDICATED DESK</h2>
							<!-- <p>Unavailable</p> -->
							<a routerLink="detail" class="btn btn-primary">Learn more</a>

						</div>
						<div class="data-normal first-para">
							<p>Want your personal desk with no hustle and 24x7 access in a comfortable workspace? Not a problem! Through our dedicated seats you can access your workspace anytime without anyone else using your space!</p>
						</div>
						<div class="data-normal sec-para">
							<h5>Workspace</h5>
							<p>Desk and chair in a shared office with lockable filing cabinet.!</p>
						</div>
						<div class="data-normal">
							<h5>Physical Space/Access</h5>
							<p>1 location, 24/7 access</p>
						</div>
						<div class="data-normal">
							<h5>Daily Rates for Other Locations</h5>
							<p>Another location, <i class="fa fa-inr"></i>25/day or 1 credit (shared desk))</p>
						</div>
						<div class="data-normal">
							<h5>Credits</h5>
							<p>120 black & white, 20 color</p>
						</div>
						<div class="data-normal">
							<h5>Printing</h5>
							<p>120 black & white, 20 color</p>
						</div>
						<div class="data-normal">

							<a routerLink="detail">And more..</a>
						</div>
					</div>
				</div>
				<div class="col-sm-3 paddNone4">
					<div class="box-size">
						<div class="box-image" style="background-size: cover;
    background-image: url('../../assets/images/plans/meeting-room.jpg');">

						</div>
						<div class="data">
							<h2>PRIVATE OFFICE</h2>
							<!-- <p> Unavailable</p> -->
							<a routerLink="detail" class="btn btn-primary">Learn more</a>

						</div>
						<div class="data-normal first-para">
							<p>Wish to host clients in a professional, private space? Or want to have an urgent team meeting to boost the morales of your employees? Access our beautifully built meeting rooms today!
							</p>
						</div>
						<div class="data-normal sec-para">
							<h5>Workspace</h5>
							<p>Desk in a private, lockable office. Includes chair and a filing cabinet.</p>
						</div>
						<div class="data-normal">
							<h5>Physical Space/Access</h5>
							<p>1 location, 24/7 access </p>
						</div>
						<div class="data-normal">
							<h5>Daily Rates for Other Locations</h5>
							<p>Another location, <i class="fa fa-inr"></i>25/day or 1 credit (shared desk)</p>
						</div>
						<div class="data-normal">
							<h5>Credits</h5>
							<p>12+ per month</p>
						</div>
						<div class="data-normal">
							<h5>Printing</h5>
							<p>120 black & white, 20 color</p>
						</div>
						<div class="data-normal">

							<a routerLink="detail">And more..</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</div>


<div class="clearfix"></div>