.panel {
	border: hidden; 
	border-radius:0 !important;
	transition: box-shadow 0.5s;
	/* box-shadow: 0px 0px 20px 8px rgba(0,0,0, .2); */
	box-shadow: 0px 0px 20px rgba(0,0,0, .3);
}
.panel:hover {
	/* box-shadow: 5px 0px 40px rgba(0,0,0, .2); */
	box-shadow: 0px 0px 20px 5px rgba(0,0,0, .25);
}
.panel-footer .btn:hover {
	border: 1px solid #4CAF50;
	background-color: #fff !important;
	color: #4CAF50;
}
.panel-heading {
	color: #fff !important;
	background-color: #333333 !important;
	padding: 25px;
	border-bottom: 1px solid #eee;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.panel-heading h3{
    color: #fff !important;
}
.panel-footer {
	background-color: white !important;
}
.panel-footer h3 {
	font-size: 32px;
}
.panel-footer h4 {
	color: #aaa;
	font-size: 14px;
}
.panel-footer .btn {
	margin: 15px 0;
	background-color: #4CAF50;
	color: #fff;
}
.no-data-message{
	padding: 50px;
    font-size: 20px;
    text-align: center;
}