<div class="container-page">
  <section class="we-feed">
    <div class="clearfix ">
      <div class="col-md-4 paddNone event-img">

        <img src="images/event1.jpg" alt="">

        <div class="play-on">
          <span class="play"></span>
          <span class="words">
            <h4>Play Video</h4>
          </span>
        </div>
        <div class="img-overlay animated fadeIn">
          <p class="show-for-medium-up">August 2013, WeWork Summer Camp</p>
          <div class="play-on">
            <span class="play"></span>
            <span class="words">
              <h4>Play Video</h4>
            </span>
          </div>
        </div>

      </div>
      <div class="col-md-4 paddNone event-img">

        <img src="images/event2.jpg" alt="">
        <div class="play-on">
          <span class="play"></span>
          <span class="words">
            <h4>Play Video</h4>
          </span>
        </div>
        <div class="img-overlay animated fadeIn">
          <p class="show-for-medium-up">August 2013, WeWork Summer Camp</p>
          <div class="play-on">
            <span class="play"></span>
            <span class="words">
              <h4>Play Video</h4>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 paddNone event-img">

        <img src="images/event3.jpg" alt="">
        <div class="play-on">
          <span class="play"></span>
          <span class="words">
            <h4>Play Video</h4>
          </span>
        </div>
        <div class="img-overlay animated fadeIn">
          <p class="show-for-medium-up">August 2013, WeWork Summer Camp</p>
          <div class="play-on">
            <span class="play"></span>
            <span class="words">
              <h4>Play Video</h4>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-hire">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="hire-heading wow fadeInDown animated" style="visibility: visible;">
            <h3>Host Your Event at CoWork</h3>
            <p>Want some feedback on your app? Ready to launch your product? Want to teach a class or host a workshop? Or perhaps
              you're just ready to celebrate something? Our members are welcome to host an event in one of our flexible event
              spaces..</p>
            <a href="#modal-event" class="btn btn-primary " data-toggle="modal" data-target="#modal-event">Host an Event</a>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </section>
  <section class="common bg-col2">
    <div class="container">
      <div class="clearfix maxwidth800 text-center">
        <h2>Events at CoWork</h2>
        <p>Our events are an integral part of the CoWork experience. They are a chance for you to learn, speak, network, get
          inspired and get reinvigorated for the challenging road ahead.</p>
      </div>
    </div>
  </section>
  <section class="event-loc">
    <div class="container">
      <div class="clearfix">
        <ul>
          <li>
            <a href="#cp" class="page-scroll">CP</a>
          </li>
          <li>
            <a href="#gurgaon" class="page-scroll">GURGAON</a>
          </li>
          <li>
            <a href="#">SUBHAS NAGAR</a>
          </li>
        </ul>
      </div>
    </div>

  </section>

  <section class="common events" id="cp">
    <div class="container">
      <div class="clearfix">
        <h2>Events in CP</h2>
        <hr>
        <div class="col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/portfolio/work-1.jpg" alt="..." width="150px">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Lorem ipsum dolor sit amet.</h4>
              <p>
                <span>March 3</span> |
                <span>6:00pm - 8:00pm</span>
              </p>
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/portfolio/work-1.jpg" alt="..." width="150px">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Lorem ipsum dolor sit amet.</h4>
              <p>
                <span>March 3</span> |
                <span>6:00pm - 8:00pm</span>
              </p>
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/portfolio/work-1.jpg" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Lorem ipsum dolor sit amet.</h4>
              <p>
                <span>March 3</span> |
                <span>6:00pm - 8:00pm</span>
              </p>
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/portfolio/work-1.jpg" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Lorem ipsum dolor sit amet.</h4>
              <p>
                <span>March 3</span> |
                <span>6:00pm - 8:00pm</span>
              </p>
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="common events" id="gurgaon">
    <div class="container">
      <div class="clearfix">
        <h2>Events in GURGAON</h2>
        <hr>
        <div class="col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/portfolio/work-1.jpg" alt="..." width="150px">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Lorem ipsum dolor sit amet.</h4>
              <p>
                <span>March 3</span> |
                <span>6:00pm - 8:00pm</span>
              </p>
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/portfolio/work-1.jpg" alt="..." width="150px">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Lorem ipsum dolor sit amet.</h4>
              <p>
                <span>March 3</span> |
                <span>6:00pm - 8:00pm</span>
              </p>
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/portfolio/work-1.jpg" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Lorem ipsum dolor sit amet.</h4>
              <p>
                <span>March 3</span> |
                <span>6:00pm - 8:00pm</span>
              </p>
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="images/portfolio/work-1.jpg" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Lorem ipsum dolor sit amet.</h4>
              <p>
                <span>March 3</span> |
                <span>6:00pm - 8:00pm</span>
              </p>
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>


<div class="clearfix"></div>

<!-- modal -->

<div class="modal fade" id="modal-event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">MAKE A VENUE INQUIRY</h4>
      </div>
      <div class="modal-body">
        <form id="contactForm">
          <div class="clearfix">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="name" id="name" class="form-control" placeholder="NAME">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control" placeholder="EMAIL" required="">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="subject" id="subject" class="form-control" placeholder="Phone" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="subject" id="subject" class="form-control" placeholder="Company Name" required="">
              </div>
            </div>

            <div class="col-md-12">
              <select class="form-control">
                <option>How did you hear about this? </option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="col-md-12" style="margin:15px 0;">
              <h3 class="text-center">EVENT INFO</h3>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder=" Date" required="">
              </div>
            </div>
            <div class="col-md-12 clearfix">
              <div class="form-group">
                <p class="pull-left">Would you like Mail &amp; Package Handling?
                </p>
                <p class="pull-right">
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> No
                  </label>
                </p>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="subject" id="subject" class="form-control" placeholder="Event Timing" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="subject" id="subject" class="form-control" placeholder="Guest Count" required="">
              </div>
            </div>

            <div class="col-md-6">
              <select class="form-control">
                <option>Event Type</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-md-6">
              <select class="form-control">
                <option>Preferred Location</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-md-12 text-center" style="visibility: visible;margin: 20px 0;">
              <div class="">
                <button class="btn btn-primary black " type="submit">Submit now</button>
              </div>

            </div>


          </div>

        </form>
      </div>

    </div>
  </div>
</div>