<!-- <p>
  book-room works!
</p> -->
<div class="wrapper ">
  <div class="sidebar new-sidebar">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="col-md-12 sidebar-overlay no-pad-lf">
      <div class="logo">
        <a routerLink="/user/profile" class="simple-text logo-normal">
          <!-- <a href="./dashboard_new.html" class="simple-text logo-normal"> -->
          <img src="assets/img/White-OCW-logo.png">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li [routerLinkActive]="['active']">
            <!-- <a href="./dashboard_new.html">
            <i class="icon-profileicon"></i>
            <p>Profile</p>
          </a> -->
            <a routerLink="/user/profile">
              <i class="icon-profileicon"></i>
              <p>Profile</p>
            </a>
          </li>
          <li [routerLinkActive]="['active']">
            <!-- <a href="./feeds.html">
            <i class="icon-newsfeed"></i>
            <p>Feeds</p>
          </a> -->
            <a routerLink="/user/feeds">
              <i class="icon-newsfeed"></i>
              <p>Feeds</p>
            </a>
          </li>
          <li [routerLinkActive]="['active']">
            <!-- <a href="./bookaroom.html">
            <i class="icon-bookaroom"></i>
            <p>Book a Room</p>
          </a> -->
            <a routerLink="/user/bookRoom">
              <i class="icon-bookaroom"></i>
              <p>Book a Room</p>
            </a>
          </li>
          <li [routerLinkActive]="['active']">
            <!-- <a href="./bookaspace.html">
            <i class="icon-bookaspace"></i>
            <p>Book a Space</p>
          </a> -->
            <a routerLink="/user/bookSpace">
              <i class="icon-bookaspace"></i>
              <p>Book a Space</p>
            </a>
          </li>
          <li [routerLinkActive]="['active']">
            <!-- <a href="./mybookings.html">
            <i class="icon-bookaroom"></i>
            <p>My Booking</p>
          </a> -->
            <a routerLink="/user/myBookings">
              <i class="icon-bookaroom"></i>
              <p>My Booking</p>
            </a>
          </li>
          <li [routerLinkActive]="['active']">
            <!-- <a href="./accountsetting.html">
            <i class="icon-setting"></i>
            <p>Account Setting</p>
          </a> -->
            <a routerLink="/user/accountSettings">
              <i class="icon-setting"></i>
              <p>Account Setting</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" routerLink="/user/profile">Dashboard</a>
          <!-- <a class="navbar-brand" href="#pablo">Dashboard</a> -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <form>
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <!-- routerLink="/user/profile" -->
              <!-- <a class="nav-link dropdown-toggle " href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
              <a class="nav-link dropdown-toggle " id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="now-ui-icons users_single-02"></i>
                <p>
                  <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/user/profile">Profile</a>
                <a class="dropdown-item" routerLink="/user/accountSettings">Profile Edit</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $("a[href$='#stream']").addClass("active");
  });
</script>

<script type="text/javascript">
  $(document).on('click', '.navbar-toggler', function () {
    $("html").toggleClass("nav-open");
    $(".navbar").toggleClass("bg-primary");
  });

</script>
<script type="text/javascript">
  $(document).on('click', '.content', function () {
    $('.navbar-collapse').removeClass("show");
    $(".navbar").removeClass("bg-primary");
  });
</script>

<script type="text/javascript">
  $(document).ready(function () {
    $(".fa-heart").click(function () {
      $(this).removeClass("far");
      $(this).addClass("fas");
      $(this).addClass("red");
    });
  });
</script>