<div class="container-page">
  <section class="banner-header press-banner">

    <div class="container">
      <div class="clearfix maxwidth850">
        <div class="sqr_box text-center">

          <h1>Press and Media</h1>

        </div>
      </div>
    </div>
  </section>

  <section class="bg-col2 press">
    <div class="container">
      <div class="clearfix">
        <ul>
          <li>
            <a href="#news" class="page-scroll">news</a>
          </li>
          <li>
            <a href="#info" class="page-scroll">company info</a>
          </li>
          <li>
            <a href="#media" class="page-scroll">media resources</a>
          </li>
          <li>
            <a href="#contact" class="page-scroll">contacts</a>
          </li>
        </ul>
      </div>

    </div>

  </section>
  <section class="common" id="news">
    <div class="container">
      <div class="clerafix">
        <div class="col-md-12">
          <h2>NEWS</h2>
        </div>

        <div class="col-md-6">
          <h4>WILKOMMEN IN DEUTSCHLAND</h4>
          <p>
            <a href="#">Read more..</a>
          </p>
          <h4>COWORK AND 1XRUN CO-CURATE MURALS</h4>
          <p>
            <a href="#">Read more..</a>
          </p>
        </div>
        <div class="col-md-6">
          <h4>ANNOUNCING OUR SOUTH BEACH COMMUNITY</h4>
          <p>
            <a href="#">Read more..</a>
          </p>
          <h4>OUR AGREEMENT WITH SEIU</h4>
          <p>
            <a href="#">Read more..</a>
          </p>
        </div>
        <div class="col-md-12 text-center">
          <a href="#" class="btn btn-primary">Show more </a>
        </div>
      </div>
    </div>
  </section>
  <section class="common" id="info">
    <div class="container">
      <div class="clearfix">
        <h2>Company Info</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  WHAT IS ONECO.WORK?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                ONECO.WORK is the platform for creators. We provide everything you need to make a life, not just a living.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  WHAT IS ONECO.WORK'S MISSION?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                ONECO.WORK’s mission is to create a world where people work to make a life, not just a living.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  WHO ARE ONECO.WORK'S MEMBERS?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                ONECO.WORK members are creators who run the gamut from entrepreneurs, freelancers, and startups, to artists, small businesses
                and even divisions of large corporations.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="common " id="media">
    <div class="container">
      <div class="clearfix">
        <h2>Brand Guidelines</h2>
        <p>
          <a href="https://s3.amazonaws.com/press-assets-ww/COWORK_Brand_Guidelines.pdf">https://s3.amazonaws.com/press-assets-ww/COWORK_Brand_Guidelines.pdf</a>
        </p>
        <div class="col-md-6">

        </div>
        <div class="col-md-6"></div>
      </div>


    </div>
    <div class="bg-col2 common">
      <div class="container">
        <div class="clerafix">
          <h2>Images</h2>
          <p>Get official images for press and promotional purposes.</p>

          <div class="col-md-4">
            <img src="../../assets/images/press/press-image1.jpg" alt="">

            <div class="gal-space">

              <h5>London - OneCoWork South Bank Lounge</h5>
              <p>
                <a href="#">Download Image</a>
              </p>

            </div>
          </div>
          <div class="col-md-4">
            <img src="../../assets/images/press/press-image1.jpg" alt="">
            <div class="gal-space">

              <h5>London - OneCoWork South Bank Lounge</h5>
              <p>
                <a href="#">Download Image</a>
              </p>

            </div>
          </div>
          <div class="col-md-4">
            <img src="../../assets/images/press/press-image1.jpg" alt="">
            <div class="gal-space">

              <h5>London - OneCoWork South Bank Lounge</h5>
              <p>
                <a href="#">Download Image</a>
              </p>

            </div>
          </div>
          <div class="col-md-4">
            <img src="../../assets/images/press/press-image1.jpg" alt="">

            <div class="gal-space">

              <h5>London - OneCoWork South Bank Lounge</h5>
              <p>
                <a href="#">Download Image</a>
              </p>

            </div>
          </div>
          <div class="col-md-4">
            <img src="../../assets/images/press/press-image1.jpg" alt="">
            <div class="gal-space">

              <h5>London - OneCoWork South Bank Lounge</h5>
              <p>
                <a href="#">Download Image</a>
              </p>

            </div>
          </div>
          <div class="col-md-4">
            <img src="../../assets/images/press/press-image1.jpg" alt="">
            <div class="gal-space">

              <h5>London - OneCoWork South Bank Lounge</h5>
              <p>
                <a href="#">Download Image</a>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="common" id="contact">
    <div class="container">
      <div class="clearfix">
        <h2>Contacts</h2>
        <p>For all media inquiries about OneCo.Work, please contact press@oneinternet.in</p>
      </div>
    </div>

  </section>

</div>


<div class="clearfix"></div>