<div class="container-page">
  <section class="banner-header career-banner">

    <div class="container">
      <div class="clearfix maxwidth850">
        <div class="sqr_box text-center">

          <h1>Join Our Team </h1>

        </div>
      </div>
    </div>
  </section>
  <section class="common bg-col2">
    <div class="container">
      <div class="clearfix maxwidth800">
        <h6>We thrive in our work-hard, play-hard culture. We get serious things done. Then we have fun, and lots of it. If this
          describes where you want to work, you'll fit right into our team.</h6>
      </div>
      <div class="clearfix career">
        <div class="col-sm-4 ">
          <a class="box page-scroll" href="#career1">
            <div class="box-data">
              <p>BROKER & REAL ESTATE PARTNERSHIPS</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <div class="box page-scroll">
            <a class="box-data" href="#career2">
              <p>CORPORATE FINANCE</p>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>CORPORATE TECHNOLOGY</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>DIGITAL</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>ENTERPRISE</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>LEGAL</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>MARKETING</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>MEMBER TECHNOLOGY</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>NEW MEMBER DEVELOPMENT</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>PEOPLE</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>PRODUCT</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>PUBLIC AFFAIRS</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>REAL ESTATE</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>REGIONAL SALES</p>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="box">
            <div class="box-data">
              <p>SECURITY</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="common team">
    <div class="container">
      <div class="clearfix maxwidth800 text-center">
        <h1>MEET THE TEAM</h1>
        <a href="#" data-toggle="modal" data-target="#modal-id">
          <img src="../../assets/images/teamm.jpg" alt="" class="img-responsive">
        </a>
        <p>We have many teams that contribute in different ways, but we all have the same goal. We asked a member from each
          team what inspired them most about WeWork. Hear their answers in this video.</p>
      </div>
    </div>


  </section>
  <section class="common">
    <div class="clearfix text-center">
      <h1 class="">OUR VALUES</h1>
      <p>We're looking for people that care about the same values that we care about.</p>


      <div class="row">
        <div class="col-sm-4 paddNone">
          <div class="entry-thumb portfolio-thumb">
            <div class="imgoverlay text-light">
              <a href="javascript:void(0)" class="load-content ">
                <img src="../../assets/images/career/career-value1.jpg" class="img-responsive" alt="">

                <div class="overlay">
                  <span class="overlaycolor"></span>
                  <div class="overlayinfo" style="margin-top: -60px;">
                    <h2>Inspired</h2>
                    <h6>We start each day with a spirit of creating something new. Inspiration keeps us going through it.
                    </h6>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="abs-content">
            <p>Inspired</p>
          </div>
        </div>
        <!--work col-->
        <div class="col-sm-4 paddNone">
          <div class="entry-thumb portfolio-thumb">
            <div class="imgoverlay text-light">
              <a href="javascript:void(0)" class="load-content">
                <img src="../../assets/images/career/career-value1.jpg" class="img-responsive" alt="">

                <div class="overlay">
                  <span class="overlaycolor"></span>
                  <div class="overlayinfo" style="margin-top: -60px;">
                    <h2>Entrepreneurial</h2>
                    <h6>We are self learners. Nobody taught us the skills that we inculcate, it is our passion towards the work that helped us spread wings nationwide.</h6>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="abs-content">
            <p>Entrepreneurial</p>
          </div>
        </div>
        <!--work col-->
        <div class="col-sm-4 paddNone">
          <div class="entry-thumb portfolio-thumb">
            <div class="imgoverlay text-light">
              <a href="javascript:void(0)" class="load-content ">
                <img src="../../assets/images/career/career-value1.jpg" class="img-responsive" alt="">
                <div class="overlay">
                  <span class="overlaycolor"></span>
                  <div class="overlayinfo" style="margin-top: -60px;">
                    <h2>Authentic</h2>
                    <h6>
                      We speak our heart out. We are in a time where authenticity has become the golden rule of leadership. We accept our flaws, our mistakes, our glitches but we never stop. Our mission is to examine them and keep working on them everyday to strive for something better. </h6>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="abs-content">
            <p>Authentic</p>
          </div>
        </div>
        <!--work col-->
        <div class="col-sm-4 paddNone">
          <div class="entry-thumb portfolio-thumb">
            <div class="imgoverlay text-light">
              <a href="javascript:void(0)" class="load-content ">
                <img src="../../assets/images/career/career-value1.jpg" class="img-responsive" alt="">
                <div class="overlay">
                  <span class="overlaycolor"></span>
                  <div class="overlayinfo" style="margin-top: -60px;">
                    <h2>Tenacious</h2>
                    <h6>
                      Giving up is not in our dictionary. No matter how many milestones it takes, we make sure the work is done with complete productivity.</h6>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="abs-content">
            <p>Tenacious</p>
          </div>
        </div>
        <div class="col-sm-4 paddNone">
          <div class="entry-thumb portfolio-thumb">
            <div class="imgoverlay text-light">
              <a href="javascript:void(0)" class="load-content ">
                <img src="../../assets/images/career/career-value1.jpg" class="img-responsive" alt="">
                <div class="overlay">
                  <span class="overlaycolor"></span>
                  <div class="overlayinfo" style="margin-top: -60px;">
                    <h2>Grateful</h2>
                    <h6>
                      We notice every tiny miracle and make sure to thank god for it. </h6>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="abs-content">
            <p>Grateful</p>
          </div>
        </div>
        <div class="col-sm-4 paddNone">
          <div class="entry-thumb portfolio-thumb">
            <div class="imgoverlay text-light">
              <a href="javascript:void(0)" class="load-content ">
                <img src="../../assets/images/career/career-value1.jpg" class="img-responsive" alt="">
                <div class="overlay">
                  <span class="overlaycolor"></span>
                  <div class="overlayinfo" style="margin-top: -60px;">
                    <h2>Together</h2>
                    <h6>
                      We believe in moving together. No matter where we go, we are always together.                     </h6>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="abs-content">
            <p>Together</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="common" id="career1">
    <div class="container">
      <div class="clearfix">
        <h2>BROKER & REAL ESTATE PARTNERSHIPS</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Account Management Associate</h4>
          <p>New York, NY</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Account Management Associate</h4>
          <p>New York, NY</p>
        </div>
      </div>

    </div>


  </section>
  <section class="common" id="career2">
    <div class="container">
      <div class="clearfix">
        <h2>CORPORATE FINANCE</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Account Management Associate</h4>
          <p>New York, NY</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Account Management Associate</h4>
          <p>New York, NY</p>
        </div>
      </div>

    </div>


  </section>
</div>


<div class="clearfix"></div>

<!-- modal -->

<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--   <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          
           </div> -->
      <div class="modal-body">
        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/le0dfcG_jVw" frameborder="0" allowfullscreen=""></iframe>
      </div>

    </div>
  </div>
</div>