<div class="container-page">
    
        <div class="member_ship">
          <div class="clearfix">
               
                <div class="container-box">
                             <div class="heading">
                <h1>ONE MEMBERSHIP</h1>
                
    
                <hr>
    
        </div>
        </div>
               
            </div>
            <p>Access to the community and the option to book workspace.</p>
            <hr>
            <p>Starting from</p>
            <h3>US$45/MONTH*</h3>  
            <p>Have any questions? See our FAQ.</p>
            <a routerLink="/register" class="btn btn-primary">Sign Up</a>
            <p><small>*Available for purchase in ₹ soon</small></p>
    </div>
    
    
    <section class="">
    <img src="../../assets/images/shot-of-work-area.jpg" alt="img" class="img-responsive">
        
    </section>	
    <section class="common detail_content">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-5" >
                    <div class="clearfix">
               
                <div class="container-box">
                             <div class="heading">
                <h2>AT A GLANCE</h2>
                <hr>
    
        </div>
        </div>
               
            </div>
    
            <p>One Membership makes it easy for you to connect with tens of thousands of WeWork members who need the services you offer and offer the services you need. Using our mobile app and member network, you can leverage the strength of our diverse, global community no matter where you are.</p>
            <p>This membership also comes with two credits to book workspace or conference rooms in select locations around the world.</p>
            <hr>
            <table class="table ">
                
                <tbody>
                    <tr>
                        <td><h3>ACCESS</h3></td>
                        <td>2 credits are included with your membership per month, to book workspace or conference rooms in select locations from 9am - 6pm M-F.</td>
                    </tr>
                    <tr>
                        <td><h3>LOCATION</h3></td>
                        <td>Work from select locations. Additional daily workspace: $50/day</td>
                    </tr>
                    <tr>
                        <td><h3>CREDITS</h3></td>
                        <td>2 included, with the ability to buy more.</td>
                    </tr>
                    <tr>
                        <td><h3>ADD-ONS</h3></td>
                        <td>Daily Workspace: $50/day Conference Rooms: Starting at $25/hour Mail & Package Handling*: $50/month</td>
                    </tr>
                </tbody>
            </table>
            <hr>
                </div>
            </div>
        </div>
    </section>
    <section class="common bg-col2">
      <div class="container">
          <div class="row">
              <div class="col-md-7  col-md-offset-5">
                  <div class="clearfix">
               
                <div class="container-box">
                             <div class="heading">
                <h2>JOIN OUR COMMUNITY OF CREATORS</h2>
                <hr>
    
        </div>
        </div>
               
            </div>
            <p>Every plan includes a huge range of unique benefits for every member.</p>  
            <div class="col-sm-6">
            <h3>80,000 STRONG</h3>
            <p>Through our online member network and app, you'll get instant access to over 80,000 WeWork members across the globe, opening the door to countless business opportunities.
    </p>
            </div>
            <div class="col-sm-6">
                <h3>IN IT TOGETHER</h3>
                <p>Collaborate, share experiences, and get inspiration from WeWork members and Community teams virtually anywhere. From the start, you'll see that our members are full of ideas that can help your business grow. 70% of our members have done business together.</p>
            </div>
            <div class="col-sm-6"> 
            <h3>EXCLUSIVE EVENTS</h3> 
            <p>From happy hours to networking events, you can attend social and professional events at any location and connect with other members in person.</p>   
             </div>
              </div>
          </div>
      </div>  
    </section>
    <section class="common">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-5">
                 <div class="clearfix">
               
                <div class="container-box">
                             <div class="heading">
                <h2>TAKE CARE OF BUSINESS & YOURSELF</h2>
                <hr>
    
        </div>
        </div>
               
            </div>  
            <p>Go beyond workspace - WeWork members enjoy a range of perks and discounts for work, life and everything in between.</p>
            <h3>BENEFITS FOR BUSINESS</h3> 
            <p>Discounts on HR services from TriNet, accounting services from InDinero, and business tools like Amazon Web Services are just the start. We've negotiated hundreds of deals with top service providers to help you focus on what matters most--creating your life's work.</p>
            <h3>PERSONAL PERKS</h3>
            <p>Support yourself, and your employees with discounts on health care, gym memberships, travel, and more.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="common bg-col2">
     <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-5">
                 <div class="clearfix">
               
                <div class="container-box">
                             <div class="heading">
                <h2>FREQUENTLY ASKED QUESTIONS</h2>
                <hr>
    
        </div>
        </div>
               
            </div>
            <h5>Are your memberships really month-to-month?</h5>
            <p>Yes. Our flexible hassle free services help you expand your business as much as you want. Get a month to month membership or become our long term customer, call us at 001-234598765 to know more. </p>
            <h5>Are we allowed to transfer to another One Co.work location?</h5>
            <p>If the location of your choice has an available seat, we would be more than happy to provide you with the same.</p>
            <h5>What are your working hours? </h5>
            <p>Though the office is open 24/7 but our staff is available at a usual timings of 9.30 to 6.30. Members with 24/7 working hours of membership can avail the same at any time of the day.</p>
                </div>
                </div>
                </div>   
    </section>
    <section class="common another_plan">
    <div class="container">
       <div class="clearfix">
               
                <div class="container-box text-center">
                             <div class="heading-center">
                <h2>OTHER COWORK PLANS</h2>
                <hr>
    
        </div>
        </div>
               
            </div>  
            <div class="maxwidth800">
              
      <div class="box first ">
        <span class="icon-cont"><i class="fa fa-rocket"></i></span>
        
        <h3><a href="#">HOT DESK</a></h3>
        
        <!-- <ul class="hidden">
          <li>Lorem ipsum dolor</li>
          <li>Set amet consecuter</li>
          <li>Lorem ipsum dolor</li>
          <li>Set amet consecuter</li>
        </ul>
            
        <a class="expand"><span class="plus">+</span><span class="minus">-</span></a> -->
      </div>
      
      <div class="box second">
        <span class="icon-cont"><i class="fa fa-edit"></i></span>
        
        <h3><a href="#">DEDICATED DESK</a>
    </h3>
        
       <!--  <ul class="hidden">
          <li>Lorem ipsum dolor</li>
          <li>Set amet consecuter</li>
          <li>Lorem ipsum dolor</li>
          <li>Set amet consecuter</li>
        </ul>
            
        <a class="expand"><span class="plus">+</span><span class="minus">-</span></a> -->
      </div>
     
    <div class="box third">
        <span class="icon-cont"><i class="fa  fa-briefcase"></i></span>
        
        <h3><a href="#">PRIVATE OFFICE</a>
    </h3>
        
       <!--  <ul class="hidden">
          <li>Lorem ipsum dolor</li>
          <li>Set amet consecuter</li>
          <li>Lorem ipsum dolor</li>
          <li>Set amet consecuter</li>
        </ul>
            
        <a class="expand"><span class="plus">+</span><span class="minus">-</span></a> -->
      </div>
            </div>
            </div>
    </section>
    </div>
      
    
    <div class="clearfix"></div>