<!-- Navigation -->
<!-- HEADER/NAVBAR HERE -->
<!-- section -banner -->
<div id="section-intro">
	<div class="parallax-overlay"></div>
	<div class="container-fluid">
		<div class="row">
			<div>
				<div class="intro-caption">

					<h1 class="wow slideInRight">BE THE FOUNDER OF YOUR LIFE</h1>
					<p class="wow fadeInUp">Find inspiring workspace, connect with a global community, and benefit from 100+ services to help grow your business.</p>
					<a href="#" class="btn btn-primary">how we help businesses</a>
				</div>
			</div>
		</div>
		<!-- row end -->
	</div>
	<!-- container end -->
</div>
<!-- section banner end -->
<!-- <section class="loc-name">
	<div class="clearfix">
		<a class="col-md-3 paddNone">
			<div id="box" class="box-bg1">

				<span href="#" class="btn btn-primary white">Plan A</span>
			</div>
		</a>
		<a class="col-md-3 paddNone">
			<div id="box" class="box-bg2">

				<span href="#" class="btn btn-primary white">Plan B</span>
			</div>
		</a>
		<a class="col-md-3 paddNone">
			<div id="box" class="box-bg3">

				<span href="#" class="btn btn-primary white">Plan C</span>
			</div>
		</a>
		<a class="col-md-3 paddNone">
			<div id="box" class="box-bg2">

				<span href="#" class="btn btn-primary white">Plan D</span>
			</div>
		</a>
	</div>
</section> -->
<!-- section about start -->
<!-- <section id="section-about">
		
			
			<div class="container">
				<div class="clearfix">
			<div class="col-md-6">
				<iframe width="100%" height="300px" src="https://www.youtube.com/embed/le0dfcG_jVw" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6">
				<h2>Experience ONE Co.Work</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde enim, dolor sunt explicabo alias id porro voluptates eaque, laudantium veritatis ab incidunt nihil. Porro dolorum architecto animi saepe id eveniet.</p>
			</div>
			</div>
			</div>
			
		</div> 
	</section> -->
<!-- section about end -->
<section class="product common ">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
			<div class="container-box">
				<div class="heading-center">
					<h1>OUR Services</h1>
					<hr>

				</div>
			</div>
			<div class="clearfix services">
				<div class="col-md-4 col-sm-4 ">
					<div class="service_box">
						<i>
							<img alt="" src="../../assets/images/icon1.png">
						</i>
						<h4>Wi-Fi</h4>
						<p>High speed internet connection and work-friendly music lets you stay connected and productive.</p>
					</div>

				</div>
				<div class="col-md-4 col-sm-4  border-left">
					<div class="service_box">
						<i>
							<img alt="" src="../../assets/images/icon2.png">
						</i>
						<h4>WORK</h4>
						<p>Walk in, take a seat, and start working. Plenty of outlets for your devices.</p>
					</div>

				</div>
				<div class="col-md-4  col-sm-4 border-left">
					<div class="service_box">
						<i>
							<img alt="" src="../../assets/images/icon3.png">
						</i>
						<h4>REFRESHMENTS</h4>
						<p>Free coffee, water, and snacks for you and your guests.</p>
					</div>

				</div>

			</div>
		</div>
		<h1 class=" wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
			<a class="btn btn-primary" href="#">Join Now</a>
		</h1>
	</div>
</section>

<!--  section services start -->
<section class="common bg-col3">
	<div class="container">
		<div class="clearfix">
			<div class="col-md-12 text-center">
				<div class="container-box">
					<div class="heading-center">
						<h1>community</h1>
						<hr>

					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laborum voluptates repellat perferendis exercitationem
					pariatur eius praesentium nostrum non. Impedit.</p>
			</div>
		</div>

	</div>
	<!--  container end -->
</section>
<!--  section services end -->

<section>
	<div class="clearfix community">


		<div class="col-md-6 paddNone">
			<img src="../../assets/images/community/why-company.jpg" alt="image" class="img-responsive">
			<div class="big_name">
				<h1>ONE COWORK.</h1>
			</div>
		</div>
		<div class="col-md-6  paddNone">
			<div class="content">
				<h3>Networking opportunities</h3>
				<hr>
				<div class="clearfix"></div>

				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, officia.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ratione.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, assumenda.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, nemo.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clearfix community">


		<div class="col-md-6  paddNone">
			<div class="content">
				<h3>Networking opportunities</h3>
				<hr>
				<div class="clearfix"></div>

				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, officia.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ratione.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, assumenda.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, nemo.</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 paddNone">
			<img src="../../assets/images/community/workspace.jpg" alt="image" class="img-responsive">
			<div class="big_name">
				<h1>ONE COWORK.</h1>
			</div>
		</div>
	</div>
	<div class="clearfix community">
		<div class="col-md-6 paddNone">
			<img src="../../assets/images/community/events-meetings.jpg" alt="image" class="img-responsive">
			<div class="big_name">
				<h1>WHY COWORKING.</h1>
			</div>
		</div>

		<div class="col-md-6  paddNone">
			<div class="content">
				<div class="clearfix">
					<h3>ANNUAL SPACE COST COMPARISON</h3>
					<hr>
				</div>
				<p>
					<small>*Based on 2016 New York City pricing</small>
				</p>
				<div class="clearfix vertical flat maxwidth400">

					<div class="progress-bar">
						<div class="progress-track">
							<div class="progress-fill">
								<span>
									<i class="fa fa-inr"></i>7,8000</span>
							</div>
						</div>
						<h5>Onecowork Office</h5>
					</div>

					<div class="progress-bar">
						<div class="progress-track">
							<div class="progress-fill1">
								<span>
									<i class="fa fa-inr"></i>10,3500</span>
							</div>
						</div>
						<h5>Typical Office*</h5>

					</div>
				</div>



			</div>
		</div>

	</div>
</section>