<div class="container-page blog-fluid">
  <div class="container">
    <h1 class="big-heading">The CoWork Blog</h1>
    <div class="row blog-row">
      <div class="col-sm-6">
        <div class="mcol">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil maiores qui, recusandae? Nihil eaque ullam blanditiis
            adipisci, earum minus autem laboriosam quasi. Voluptas impedit, alias doloribus quibusdam amet magni, id veniam
            a officia quod repudiandae consequuntur deleniti optio placeat quisquam recusandae vero rerum eos necessitatibus
            non ad dolorum in? Sunt!</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mcol text-right">
          <span class="joinuson">Join Us On</span>
          <ul class="join-social">
            <li>
              <a href="#none" class="facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#none" class="twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#none" class="google-plus">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="#none" class="pinterest">
                <i class="fa fa-pinterest-p"></i>
              </a>
            </li>
            <li>
              <a href="#none" class="youtube">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row blog-row">
      <div class="col-sm-6">
        <div class="mcol personblog">
          <div class="author-block">
            <img src="http://1.bp.blogspot.com/-jH2xJEGe6mE/UGHgJjba6QI/AAAAAAAADec/03pBzdJtaIo/s1600/nature-old_bench.jpg" alt="" class="titleimg">
            <div class="avator-block clearfix">
              <div class="pull-left">
                <img src="https://lh6.googleusercontent.com/-dfqgmBtFg5o/AAAAAAAAAAI/AAAAAAAAAEM/lhBJrUO-4yQ/photo.jpg" alt="" class="avimg">
                <a href="#none" class="by">
                  <span>By</span> Manmeet</a>
              </div>
              <span class="postdate pull-right">July 1st, 2016</span>
            </div>
          </div>
          <div class="blog-title-block">
            <a href="#none" class="blog-link">The MozCon 2016 Community Speakers Have Landed!</a>
            <div>
              <small>
                <a href="#none">Events</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#none">News</a>
              </small>
            </div>
          </div>
          <div>
            <p class="brief-para">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur praesentium accusamus id ex inventore cupiditate qui
              dolorum saepe impedit error quidem, vero at.accusamusaccusamus
            </p>
          </div>
          <div class="row full-blog-block">
            <div class="col-xs-4">
              <a href="blog-detail.php" class="readpost">Read Post</a>
            </div>
            <div class="col-xs-4">
              <a href="#none" class="likes">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;
                <span>26</span>
              </a>
            </div>
            <div class="col-xs-4">
              <a href="#none" class="comments">
                <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;
                <span>26</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="mcol personblog">
          <div class="author-block">
            <img src="http://2.bp.blogspot.com/-7LZOu2n6YLM/UQEB7JBYTJI/AAAAAAAAAl4/vcX9Zc7MZgA/s1600/483099_356577891101217_913210710_n.jpg"
              alt="" class="titleimg">
            <div class="avator-block clearfix">
              <div class="pull-left">
                <img src="https://d1avok0lzls2w.cloudfront.net/img_users/63.jpg?1461445989" alt="" class="avimg">
                <a href="#none" class="by">
                  <span>By</span> Manmeet</a>
              </div>
              <span class="postdate pull-right">July 1st, 2016</span>
            </div>
          </div>
          <div class="blog-title-block">
            <a href="#none" class="blog-link">The MozCon 2016 Community Speakers Have Landed!</a>
            <div>
              <small>
                <a href="#none">Events</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#none">News</a>
              </small>
            </div>
          </div>
          <div>
            <p class="brief-para">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur praesentium accusamus id ex inventore cupiditate qui
              dolorum saepe impedit error quidem, vero at.accusamusaccusamus
            </p>
          </div>
          <div class="row full-blog-block">
            <div class="col-xs-4">
              <a href="#none" class="readpost">Read Post</a>
            </div>
            <div class="col-xs-4">
              <a href="#none" class="likes">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;
                <span>26</span>
              </a>
            </div>
            <div class="col-xs-4">
              <a href="#none" class="comments">
                <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;
                <span>26</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row blog-row">
      <div class="col-sm-6">
        <div class="mcol personblog">
          <div class="author-block">
            <img src="http://www.trendycovers.com/covers/1323353328.jpg" alt="" class="titleimg">
            <div class="avator-block clearfix">
              <div class="pull-left">
                <img src="https://d1avok0lzls2w.cloudfront.net/img_users/63.jpg?1461445989" alt="" class="avimg">
                <a href="#none" class="by">
                  <span>By</span> Manmeet</a>
              </div>
              <span class="postdate pull-right">July 1st, 2016</span>
            </div>
          </div>
          <div class="blog-title-block">
            <a href="#none" class="blog-link">The MozCon 2016 Community Speakers Have Landed!</a>
            <div>
              <small>
                <a href="#none">Events</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#none">News</a>
              </small>
            </div>
          </div>
          <div>
            <p class="brief-para">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur praesentium accusamus id ex inventore cupiditate qui
              dolorum saepe impedit error quidem, vero at.accusamusaccusamus
            </p>
          </div>
          <div class="row full-blog-block">
            <div class="col-xs-4">
              <a href="#none" class="readpost">Read Post</a>
            </div>
            <div class="col-xs-4">
              <a href="#none" class="likes">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;
                <span>26</span>
              </a>
            </div>
            <div class="col-xs-4">
              <a href="#none" class="comments">
                <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;
                <span>26</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="mcol personblog">
          <div class="author-block">
            <img src="http://www.cover9.com/covers/preview/Evening%20Nature%20Hd%201479.jpg" alt="" class="titleimg">
            <div class="avator-block clearfix">
              <div class="pull-left">
                <img src="https://d1avok0lzls2w.cloudfront.net/img_users/63.jpg?1461445989" alt="" class="avimg">
                <a href="#none" class="by">
                  <span>By</span> Manmeet</a>
              </div>
              <span class="postdate pull-right">July 1st, 2016</span>
            </div>
          </div>
          <div class="blog-title-block">
            <a href="#none" class="blog-link">The MozCon 2016 Community Speakers Have Landed!</a>
            <div>
              <small>
                <a href="#none">Events</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#none">News</a>
              </small>
            </div>
          </div>
          <div>
            <p class="brief-para">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur praesentium accusamus id ex inventore cupiditate qui
              dolorum saepe impedit error quidem, vero at.accusamusaccusamus
            </p>
          </div>
          <div class="row full-blog-block">
            <div class="col-xs-4">
              <a href="#none" class="readpost">Read Post</a>
            </div>
            <div class="col-xs-4">
              <a href="#none" class="likes">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;
                <span>26</span>
              </a>
            </div>
            <div class="col-xs-4">
              <a href="#none" class="comments">
                <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;
                <span>26</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="clearfix"></div>