<div class="container-page">
  <section class="banner-header box-bg7 enterprise-banner">

    <div class="container">
      <div class="clearfix maxwidth850">
        <div class="sqr_box ">
          <h2>OneCo.Work ENTERPRISE:</h2>
          <h1>OFFICE SOLUTIONS FOR TEAMS OF ANY SIZE </h1>

        </div>
      </div>
    </div>
  </section>

  <section class="common text-center">
    <div class="container">
      <div class="clearfix maxwidth800 ">
        <a href="#getinfo" class="btn btn-primary page-scroll">Get more info</a>
        <a href="#getinfo" class="btn btn-primary black">Watch to learn more</a>
        <p>Corporations worldwide are immersing themselves in the OneCo.Work community. We’re collaborating with industry-leading
          companies to challenge the idea of traditional workspace.</p>
      </div>
    </div>

  </section>

  <section class="common bg-col2">
    <div class="container">
      <div class="clearfix maxwidth800">
        <div class="text-center ">
          <div class="container-box">
            <div class="heading-center">
              <h2>ENTERPRISE COMPANIES AT OneCo.Work</h2>
              <hr>

            </div>
          </div>
        </div>
        <div class="clientlogo">

          <div class="col-sm-3">
            <img src="../../assets/images/salesforce.png" alt="" class="img-responsive">
          </div>
          <div class="col-sm-3">
            <img src="../../assets/images/salesforce.png" alt="" class="img-responsive">
          </div>
          <div class="col-sm-3">
            <img src="../../assets/images/salesforce.png" alt="" class="img-responsive">
          </div>
          <div class="col-sm-3">
            <img src="../../assets/images/salesforce.png" alt="" class="img-responsive">
          </div>
          <div class="col-sm-3">
            <img src="../../assets/images/salesforce.png" alt="" class="img-responsive">
          </div>
          <div class="col-sm-3">
            <img src="../../assets/images/salesforce.png" alt="" class="img-responsive">
          </div>
          <div class="col-sm-3">
            <img src="../../assets/images/salesforce.png" alt="" class="img-responsive">
          </div>
          <div class="col-sm-3">
            <img src="../../assets/images/salesforce.png" alt="" class="img-responsive">
          </div>
        </div>
      </div>


    </div>
  </section>
  <section class="common ">
    <div class="container">
      <div class="clearfix maxwidth800 ">

        <div class="container-box text-center">
          <div class="heading-center">
            <h2>ENTERPRISE COMPANIES AT OneCo.Work</h2>
            <hr>

          </div>
        </div>

        <p>At OneCo.Work, you pay for basically everything you would get renting another office, but for 25% less per month.</p>
        <div class="clearfix graph">
          <div class="col-md-6">
            <h3>ANNUAL COST COMPARISON</h3>
            <ul>
              <li>
                <span>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span> Administrative Expenses</li>
              <li>
                <span>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span> Office Amenities</li>
              <li>
                <span>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span> Cleaning + Maintenance</li>
              <li>
                <span>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span> Design + Construction</li>
              <li>
                <span>
                  <i class="fa fa-check" aria-hidden="true"></i>
                </span> Rent Expense</li>
            </ul>
            <p>
              <small>*Based on 2016 New York City pricing.</small>
            </p>
          </div>
          <div class="col-md-6">
            <div class="container vertical flat">

              <div class="progress-bar">
                <div class="progress-track">
                  <div class="progress-fill">
                    <span><i class="fa fa-inr"></i>7,800</span>
                  </div>
                </div>
                <h5>OneCo.Work Office</h5>
              </div>

              <div class="progress-bar">
                <div class="progress-track">
                  <div class="progress-fill1">
                    <span><i class="fa fa-inr"></i>10,350</span>
                  </div>
                </div>
                <h5>Typical Office*</h5>

              </div>
            </div>


          </div>
        </div>



      </div>
    </div>
  </section>

  <!-- section team start -->
  <section id="section-team" class="common">
    <div class="container">
      <div class="container-box text-center">
        <div class="heading-center">
          <h2>ENTERPRISE OFFERING</h2>
          <hr>

        </div>
        <p>Whether you’re looking to establish a 500-person headquarters or a one-person satellite office, WeWork can create
          a custom workplace experience that eliminates hassle, inspires employees, and fosters a culture that attracts top
          talent.</p>
      </div>

      <div class="clearfix">
        <div class="col-md-4 col-sm-4 wow slideInLeft" data-wow-delay="0s">
          <div class="team-box">
            <div class="team-img">
              <img src="../../assets/images/enterprise/enterprise-o1.jpg " alt="" class="img-responsive">
            </div>
            <div class="team-info">
              <h3>DEDICATED/CUSTOM</h3>

              <hr>
              <p>Dedicated, private, and custom floors to serve as a corporate headquarters. (Ex: Finding your own lease)</p>

            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay=".3s">
          <div class="team-box">
            <div class="team-info">
              <h3>SATELLITE OFFICES</h3>

              <hr>
              <p>Private, flexible office solutions for corporations to house sales, marketing, engineering, and innovation
                teams in markets around the world. (Ex: Executive office suites)</p>

            </div>
            <div class="team-img">
              <img src="../../assets/images/enterprise/enterprise-o2.jpg" alt="" class="img-responsive">
            </div>

          </div>
        </div>

        <div class="col-md-4 col-sm-4 wow slideInRight" data-wow-delay=".6s">
          <div class="team-box">
            <div class="team-img">
              <img src="../../assets/images/enterprise/enterprise-o3.jpg" alt="" class="img-responsive">
            </div>
            <div class="team-info">
              <h3>ONE MEMBERSHIP</h3>

              <hr>
              <p>Global access to touchdown space, offices, and conference rooms for business travelers and remote workers.
              </p>
              <small>(Ex: Hotel rooms/business centers, airport lounges, coffee shops)</small>

            </div>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </section>
  <!-- section team end -->

  <section id="section-edu " class="common">
    <div class="container">
      <div class="container-box text-center">
        <div class="heading-center">
          <h2>BENEFITS OF WEWORK</h2>
          <hr>

        </div>

      </div>

      <div class="clearfix">
        <div class="col-md-6 ">
          <div class="edu-inner">
            <div class="about-info wow fadeInLeft animated" data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">
              <div class="about-info-inner">


                <p>&#07; Weekend wellness breakfasts.</p>
              </div>
            </div>
            <!--about info end -->

            <div class="about-info wow fadeInLeft animated" data-wow-delay=".3s" style="visibility: visible;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;">
              <div class="about-info-inner">


                <p>&#07; Friendly and dynamic Work Environment.</p>
              </div>
            </div>
            <!--about info end -->

            <div class="about-info wow fadeInLeft animated" data-wow-delay=".6s" style="visibility: visible;-webkit-animation-delay: .6s; -moz-animation-delay: .6s; animation-delay: .6s;">
              <div class="about-info-inner">


                <p>&#07; Most generous retirement plans.</p>
              </div>
            </div>
            <!--about info end -->
          </div>
          <!--edu inner end -->
        </div>
        <!-- col6 end -->

        <div class="col-md-6">
          <div class="edu-inner exp">
            <div class="about-info wow fadeInRight animated" data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">
              <div class="about-info-inner">

                <p>&#07; Corporate/Startup events and retreats.</p>
              </div>
            </div>
            <!--about info end -->

            <div class="about-info wow fadeInRight animated" data-wow-delay=".3s" style="visibility: visible;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;">
              <div class="about-info-inner">

                <p>&#07; Participation in our equity incentive plan.</p>
              </div>
            </div>
            <!--about info end -->

            <div class="about-info wow fadeInRight animated" data-wow-delay=".6s" style="visibility: visible;-webkit-animation-delay: .6s; -moz-animation-delay: .6s; animation-delay: .6s;">
              <div class="about-info-inner">

                <p>&#07; Detox Water, Unlimited Kickass Tea and coffee with Crispy yet delicious snacks.</p>
              </div>
            </div>
            <!--about info end -->
          </div>
          <!--edu inner end -->
        </div>
        <!-- col6 end -->
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </section>

  <section class="common bg-col2" id="getinfo">
    <div class="container">


      <div class="container-box text-center">
        <div class="heading-center">
          <h2>INTERESTED?</h2>
          <hr>

        </div>

      </div>
      <div class="clearfix">
        <div class="col-md-6">
          <p class="text-center">Fill out the form below and our team will contact you directly</p>
          <form id="contactForm" action="http://themeturn.com/pro/Milane/v2/contact-form.php" method="post">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="name" id="name" class="form-control" placeholder="NAME">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control" placeholder="EMAIL" required="">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="subject" id="subject" class="form-control" placeholder="Phone" required="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="subject" id="subject" class="form-control" placeholder="Company Name" required="">
              </div>
            </div>
            <div class="col-md-6">
              <select class="form-control">
                <option>CHOOSE A LOCATION</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-md-6">
              <select class="form-control">
                <option>I NEED SPACE FOR </option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-md-12  text-right wow fadeInUp text-center animated" style="visibility: visible;">
              <button class="btn btn-primary black " type="submit">Submit now</button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <h4>WATCH THE ONECO.WORK ENTERPRISE PROMO TO LEARN MORE</h4>
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/le0dfcG_jVw" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>


    </div>

  </section>
  </div>


  <div class="clearfix"></div>