<div class="container-page">
  <section class="common faq bg-col2">
    <div class="container">
      <div class="clearfix maxwidth800">
        <h2>FREQUENTLY ASKED QUESTIONS</h2>
        <h3>WHAT DOES A MEMBERSHIP AT WEWORK INCLUDE?</h3>
        <h4>SUPER-FAST, RELIABLE INTERNET</h4>
        <p>Your office has hard-wired (Ethernet) connections, as well as access to Wi-Fi. Private IP addresses and server storage
          are available at an additional cost.</p>
        <h4>CONFERENCE ROOM TIME</h4>
        <p>All plans include a monthly credit allocation that can be used to reserve both conference rooms and workspaces at
          virtually all WeWork locations worldwide (the number offered are specific to membership type and office size).
          Reservations can be made online or on-the-go via our mobile app.</p>
        <h4>COWORK MEMBER NETWORK</h4>
        <p>Connect with other members through our online community. You can ask questions, share stories, announce product launches
          and other good news, invite others to events, promote your job listings, or simply find someone to grab a beer
          with. It’s a great way to start meaningful relationships with creative entrepreneurs and business leaders.</p>
        <h4>FURNITURE</h4>
        <p>Dedicated Desks and Private Offices include desks, chairs, and lockable filing cabinets.</p>
        <h4>PRINTING/COPYING/SCANNING</h4>
        <p>Each WeWork floor has at least one multi-function copier/scanner/printer. Dedicated Desks and Private Offices come
          with monthly credit allocations specific to your office size.</p>
        <h4>AMENITIES AND EXTRAS</h4>
        <p>From ping pong to meditation rooms, pool tables to bocce ball courts, you’ll find that all WeWork locations have
          a fun mix of amenities.</p>
        <h4>UNIQUE, EXCITING EVENTS</h4>
        <p>CoWork is a community of industry leaders and innovative entrepreneurs. Meet and connect with like-minded people
          and companies at our weekly and monthly events. Check out some of our past events to learn more!</p>
        <h4>ACCESS TO HEALTH CARE THROUGH TRINET</h4>
        <p>WeWork members are eligible for discounted healthcare and HR solutions through our partner, TriNet (U.S. markets
          only).</p>
        <h3>WHAT MEMBERSHIP PLANS DO YOU OFFER?</h3>
        <h4>WE MEMBERSHIP</h4>
        <p>Access to our digital Member Network, events and services - perfect for people who wish to connect with our global
          community but may only need space a one or two days a month.</p>
        <p>This plan includes 2 monthly credits for reserving workspaces and conference rooms. Additional reservations may always
          be made for an additional fee.</p>
        <h4>HOT DESK</h4>
        <p>A shared workspace in a common area. When you purchase a Hot Desk, there is no need to reserve a particular workspace
          in advance each day; you can come and go as needed and use any available desk.</p>
        <p>This plan includes access to our digital Member Network, events and services, 24/7 keycard access at your primary
          building, as well as 2 monthly credits for reserving workspaces and conference rooms.</p>
        <h4>DEDICATED DESK</h4>
        <p>An assigned desk space in a large open area or enclosed office shared with other members. This dedicated space comes
          with a lockable filing cabinet for your personal belongings. Desktops may be set up and left overnight.</p>
        <p>This plan includes access to our digital Member Network, events and services, 24/7 keycard access at your primary
          building, as well as 5 monthly credits for reserving workspaces and conference rooms.</p>
        <h4>PRIVATE OFFICE</h4>
        <p>A fully enclosed, lockable office space. Your company can add on more offices as you grow.</p>
        <p>This plan includes access to our digital Member Network, events and services, 24/7 keycard access at your primary
          building, as well as monthly credits for reserving workspaces and conference rooms that correlate with your office
          size (minimum of 12 credits for a 1 person office).</p>

        <h3>DO ALL MEMBERSHIPS BEGIN ON THE 1ST OF THE MONTH?</h3>
        <p>Hot Desk and We Membership plans begin the day you sign up and are billed monthly. Private Office and Dedicated Desk
          membership plans begin on the 1st of the month. Our one-calendar month move-out policy requires move out on the
          last day of the month for Private Offices and Dedicated Desks, allowing new members to move in on the 1st of the
          month. If this day lands on a weekend, arrangements will be made accordingly.</p>

      </div>
    </div>
  </section>

</div>


<div class="clearfix"></div>